# [ zrfisaac ]

# [ about ]
# - author : Isaac Caires Santana
# - email : zrfisaac@gmail.com
# - site : zrfisaac.github.io

# [ gitignore ]

# : - any
download/*.patch
download/*.tar.bz2
download/*.tar.gz
download/*.tar.xz
download/*.tgz
_*
